*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.field {
    width: 100%;
    height: 100vh;
    border:1px solid black;
}

.player {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

.player img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.btn {
    position: absolute;
    right: 0;
}